:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    /* --main-width: 720px; */
    /* --main-width: 780px; */
    /* --main-width: 750px; */
    --main-width: 940px;

    --header-height: 60px;
    --footer-height: 60px;
    /* --radius: 10px; */
    --radius: 1px;
/* 
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238); */

    --theme: rgb(246, 244, 232);        /* BG of aritcles */
    --entry: rgb(231, 227, 216);        /* Listings for aticles */
    --primary: rgb(64, 119, 107);         /* Titles */
    --secondary: rgb(108, 108, 108);    /* Paragraph Text */
    --tertiary: rgb(214, 214, 214);     /* border of articles */
    --content: rgb(31, 31, 31);         /* border of articles */
    --hljs-bg: rgb(28, 29, 33);         /* border of articles */
    --code-bg: rgb(246, 244, 232);      /* border of articles */

    /* Border of articles */
    --border: rgb(62, 20, 82);
    --border-secondary: rgb(64, 119, 107);
    --article-height: 200px;
    
}

.dark {
    /* --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51); */

    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(64, 119, 107);       /* Border of articles */
    --border-secondary: rgb(62, 20, 82);    
}

.list {
    background: var(--code-bg);
}
.dark.list {
    background: var(--theme);
}